    div{
            width: 400px;
            height: 100px;
            background: #000;
            color: aliceblue;
            text-align: center;
              
        }
        .c1{
            display: inline-block;
            width: 200px;
           background: rebeccapurple;
           
          
        }
        .c2{
             width: 200px;
           background: rgb(212, 150, 14);
           float: right;
            
        }
        .c3{
            display: inline-block;
            width: 200px;
           background: rgb(83, 153, 51);
            
        }
        .c4{
             width: 200px;
           background: rgb(212, 14, 199);
           float: right;
            
        }