.bg{
    width: -1000px;
    height:600px;
    border: 2px solid ;
    font-size: 22px;
    padding: 5px;
    text-align: justify;
    background-image: url("/img/download\ \(1\).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
.im1{
    width: 100%;
    height: 700px;
    background-image: url("/img/download\ \(1\).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}