 .text{
            width: 500px;
            height: 200px;
            background-color:red ;
            font-size: 60px;
            color: aliceblue;
            font-family:'Courier New', Courier, monospace;
            font-weight: bold;
            font-style: oblique;
            text-align: center;
            text-decoration: underline;
            letter-spacing: 10px;
          }
          .para{
            width: 1000px;
            height: 400px;
            background-color: blue;
            color: aliceblue;
            font-size: 30px;
            text-align: justify;
            text-transform: capitalize;
            word-spacing: 20px;
             
          }