.d1{
        width: 100%;
        height: auto;
        border: 1px solid black;background-color: brown;
    }
    .d2{
        height: 100px;
        color: blue;
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
        background-color: aqua;
    }
    .d3{
        height: 30px;
         display: flex;
         text-align: center;
         justify-content: space-between;
         background-color: blanchedalmond;
    }
    .d4{
        height: 200px;
        display: flex;
        background-color: aquamarine;
    }
    .d5{
        width: 250px;
       

    }
      .d6 img{
        width: 750px;
        height: 200px;
    }
    .d{
    
        height: 40px;
    }
    .d7{
        height: 150px;
        text-align: center;
        padding-top: 50px; 
        font-size: 30px;
        background-color: antiquewhite;
    }
    .d8{
        text-align: center;
        height: 50px;
        background-color: chocolate;
         padding-top: 20px;
         
    }
    .d9 img{
        width: 33%;
    }